

<div class="d-flex flex-wrap justify-content-evenly bg-body-secondary">
    <div class='row justify-content-between m-0' 
        style='height: 1rem;'>
    </div>        
    <div class="row justify-content-evenly">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="edt-card text-center">

                <div class="edt-card-table table-warning">
                    <img class='img-fluid rounded' src="{{ server_base }}/images/actuality/theatre_fb.png"  >
                </div>
                <div class="edt-card-table table-success">
                    <img class='img-fluid rounded' src="{{ server_base }}/images/actuality/theatre_fin.jpg"  >
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class='row justify-content-between m-0' 
        style='height: 1rem;'>
    </div>        
</div>




