<div class="container-fluid justify-content-between">
  <nav class="navbar navbar-expand-lg" >
    {% include ( "navbar_brand.html.twig" ) %}
      <div class="container-fluid">
            <p class="text-danger edt-asso-titre">
              <img src="{{ server_base }}/images/icon/color-theatre-32.png"> 
              {{ navbar_title }} {{ year }}
              <img src="{{ server_base }}/images/icon/color-theatre-32.png"> </p>
      </div>
  </nav>
</div>

