
        <div class='row  justify-content-between'>
            <div class="col-md-1"></div>
            <div class="col-md-3 bg-turquoise border rounded">
                <div class="card bg-white border" style="margin-top: 15px; margin-bottom: 15px;">
                    <img src="{{ server_base }}/handifference/affiche_handifference.jpg" class="card-img-top" >
                    <div class="card-body">
                    </div>            
                </div>            
            </div>            
            <div class="col-md-3 bg-green border rounded">
                <div class="card bg-white border" style="margin-top: 15px; margin-bottom: 15px;">
                    <img src="{{ server_base }}/handifference/bulletin_handifference.jpg" class="card-img-top" >
                    <div class="card-body">
                        <h5 class="card-title text-red">Inscription à renvoyer par mail au + tard le 18/05/2024 à 
                            <a href="mailto:enfantsdetrestel@free.fr"> enfantsdetrestel@free.fr</a></h5>
                        <a class="btn bg-turquoise" style="align-center" target="_blank" 
                        href="{{ server_base }}/handifference/bulletin_handifference.pdf">
                        TELECHARGER BULLETIN</a>
                    </div>            
                </div>            
            </div>            
            <div class="col-md-3 bg-turquoise border rounded">
                <div class="card bg-white border" style="margin-top: 15px; margin-bottom: 15px;">
                    <img src="{{ server_base }}/handifference/affiche_handifference.jpg" class="card-img-top" >
                    <div class="card-body">
                    </div>            
                </div>            
            </div>            
            <div class="col-md-1"></div>
        </div>