
        <div class='row  justify-content-between'>
            <div class="col-md-1"></div>
            <div class="col-md-3 bg-turquoise border rounded">
                <div class="card bg-white border" style="margin-top: 15px; margin-bottom: 15px;">
                    <img src="{{ server_base }}/handifference/affiche_handifference.jpg" class="card-img-top" >
                    <div class="card-body">
                    </div>            
                </div>            
            </div>            
            <div class="col-md-3 bg-green border rounded">
                <div class="card bg-white border" style="margin-top: 15px; margin-bottom: 15px;">
                    <img src="{{ server_base }}/handifference/bulletin_handifference.jpg" class="card-img-top" >
                    <div class="card-body">
                        <h3 class="card-title"></h3>
                        <a class="btn bg-green" target="_blank" 
                        href="{{ server_base }}/handifference/bulletin_handifference.pdf">
                        BULLETIN</a>
                    </div>            
                </div>            
            </div>            
            <div class="col-md-3 bg-turquoise border rounded">
                <div class="card bg-white border" style="margin-top: 15px; margin-bottom: 15px;">
                    <img src="{{ server_base }}/handifference/affiche_handifference.jpg" class="card-img-top" >
                    <div class="card-body">
                    </div>            
                </div>            
            </div>            
            <div class="col-md-1"></div>
        </div>