
        <div class='row justify-content-evenly bg-body-secondary'>
            <div class='row justify-content-between m-0' 
                style='height: 1rem;'>
            </div>            
            <div class="col-md-3">
{#                 #}
{# QUI SOMMES NOUS #}
{#                 #}
            <div class="card border-warning border-5 my-2" style="max-width: 30rem;">
                <div class="card-header text-center text-secondary bg-info-subtle fs-3">QUI SOMMES NOUS</div>
                <div class="card-body bg-success-subtle">
                    <p class="card-text text-center text-align-center text-secondary fs-6">
                        C’est à l’initiative des médecins et du personnel du C.R.R.F. de Trestel que l’association « Les Enfants de Trestel » a vu le jour en 1989</p>
                        <p>Les membres de l'association : </p>
                    <ul>
                        <li>Parents des enfants de Trestel
                        <li>Personnel actif ou retraite du Centre de Rééducation et de Réadaptation Fonctionnelle
                        <li>Tous les adhérents qui souscrivent librement à l'association
                    </ul>
                </div>
            </div>
{#           #}
{# OBJECTIFS #}
{#           #}
            <div class="card border-info border-5 my-2" style="max-width: 30rem;">
                <div class="card-header text-center text-secondary bg-info-subtle fs-3">OBJECTIFS</div>
                <div class="card-body bg-success-subtle">
                    <p class="card-text text-center text-align-center text-secondary fs-6"></p>
                    <ul>
                        <li>Favoriser le lien social, la découverte en milieu extérieur à l'hôpital et l'épanouissement des enfants handicapes tout en leur procurant du plaisir
                        <li>Procurer aux enfants du matériel extra médical
                        <li>Soutenir les familles, notamment en facilitant les échanges et l'accès à l'information sur leurs droits, leurs demarches à effectuer au niveau handicap
                        <li>Sensibiliser la population locale et les enfants au handicap, à la tolérance et à l'acceptation de la différence
                    </ul>
                </div>
            </div>
            </div>            
            <div class="col-md-3 ">
{#        #}
{# TREVOU #}
{#        #}
                <div class="card border-primary border-5 my-2 bg-primary-subtle text-center" style="max-width: 30rem;">
                    <img class='img-fluid'
                        src="{{ server_base }}/images/icon/navbar/Trestel.jpg" 
                        alt='Trestel' 
                        title='Trestel à Trévou-Treguignec' 
                    >

                    <a target="_blank" href="https://trevou-treguignec.bzh/">
                        <img class='card-img mx-auto mt-1' style="max-width: 75%;"
                        src="{{ server_base }}/images/logo/Trevou_small.png" 
                        alt='Trévou-Treguignec' 
                        title='Trévou-Treguignec' 
                    ></a>
                </div>
{#                #}
{# GRANIT RUNNING #}
{#                #}
                <div class="card border-danger border-5 my-2" style="max-width: 30rem;">
                    <div class="card-header text-center text-danger bg-warning-subtle fs-3">UN GRAND MERCI A NOS FIDELES DONATEURS DE LA GRANIT RUNNING 22</div>
                    <div class="card-body bg-success-subtle">
                        <p class="card-text text-center text-align-center text-secondary fs-6">
                            Depuis plusieurs années désormais, Luc Traver et son équipe sont les fidèles
                            donateurs de notre association. Une remise de chèque pleine d'émotions et 
                            de chaleur. Cette année encore ils ont fait fort..  <span class='text-danger'>5 000 € pour les
                            Enfants de Trestel</span> et 5000 € pour la recherche sur le cancer (Infosarcom)
                            Ils n'épargnent pas leur peine et ont des projets plein la tête pour trouver des fonds.
                        <p class="card-text text-center text-align-center text-secondary fs-6">
                            Un grand merci à toute l'équipe d'organisateurs, de bénévoles
                            (et ils sont nombreux) qui ont pu réaliser ce challenge solidaire. 
                            Ce don est le bienvenu pour nous permettre de répondre aux demandes des
                            professionnels qui nous soumettent de merveilleux projets permettant
                            aux enfants de sortir de leur milieu médicalisé.
                        <p class="card-text text-center text-align-center text-secondary fs-6">
                            On pourra encore faire pousser des ailes aux enfants....!!!
                        <p class="card-text text-center text-align-center text-secondary fs-6">
                            MERCI LUC, MERCI AUX ORGANISATEURS, MERCI AUX BENEVOLES, AUX COUREURS
                            pour cette belle chaîne de solidarité ET MERCI AUX VELOCYCLISTES qui ont 
                            franchi les cols et effectuer la traversée des Alpes pour réaliser leur
                            rêve "UN VELO POUR THIBAULT"
                        <p class="card-text text-center text-align-center text-secondary fs-6">
                            Quelle belle équipe !!

                    </div>
                </div>
            </div>
            
            <div class="col-md-3">
{#             #}
{# MARCHE NOEL #}
{#             #}
                <div class="card border-info border-5 my-2" style="margin-top: 15px; margin-bottom: 15px;">
                    <img src="{{ server_base }}/images/marche_de_noel/affiche.jpg"  >
         
                </div>            
{#             #}
{# FINANCEMENT #}
{#             #}
                <div class="card border-success border-5 my-2" style="max-width: 30rem;">
                    <div class="card-header text-center text-secondary bg-info-subtle fs-3">FINANCEMENT</div>
                    <div class="card-body bg-success-subtle">
                        <p class="card-text text-center text-align-center text-secondary fs-6">
                            Exemples de différents projets financés:</p>
                        <ul>
                            <li>Musique
                            <li>Equitherapie
                            <li>Ludotheque
                            <li>Piscine
                            <li>Croisière
                            <li>Animation Noël
                            <li>Plongée
                            <li>Ateliers cuisine
                            <li>Théâtre, Cinema, Cirque
                            <li>Classe découverte
                            <li>Activités sportives et culturelles
                            <li>Sortie diverses
                            <li>Achats jouets, matériel pédagogique
                            <li>Séjours
                        </ul>
                        <p class="card-text text-center text-align-center text-secondary fs-6">
                            En investissement:</p>
                        <ul>
                            <li>Jardin des Sens
                            <li>Tourniquet pour enfants valides et non valides
                            <li>Joëlette
                            <li>Lève-personne dans le vestiaire PMR du pôle nautique de Trestel (juin 2024)
                    </div>
                </div>
                </div> 

            </div>            
            <div class='row justify-content-between m-0' 
                style='height: 1rem;'>
            </div>        
        </div>