
        <div class='row justify-content-evenly'>
            <div class="col-md-3 edt-bg-green border rounded">
            <div class="card my-2" style="max-width: 30rem;">
                <div class="card-header text-center text-secondary bg-info-subtle fs-3">QUI SOMMES NOUS</div>
                <div class="card-body bg-success-subtle">
                    <p class="card-text text-center text-align-center text-secondary fs-6">
                        C’est à l’initiative des médecins et du personnel du C.R.R.F. de Trestel que l’association « Les Enfants de Trestel » a vu le jour en 1989</p>
                        <p>Les membres de l'association : </p>
                    <ul>
                        <li>Parents des enfants de Trestel
                        <li>Personnel actif ou retraite du Centre de Rééducation et de Réadaptation Fonctionnelle
                        <li>Tous les adhérents qui souscrivent librement à l'association
                    </ul>
                </div>
            </div>
            <div class="card my-2" style="max-width: 30rem;">
                <div class="card-header text-center text-secondary bg-info-subtle fs-3">OBJECTIFS</div>
                <div class="card-body bg-success-subtle">
                    <p class="card-text text-center text-align-center text-secondary fs-6"></p>
                    <ul>
                        <li>Favoriser le lien social, la découverte en milieu extérieur à l'hôpital et l'épanouissement des enfants handicapes tout en leur procurant du plaisir
                        <li>Procurer aux enfants du matériel extra médical
                        <li>Soutenir les familles, notamment en facilitant les échanges et l'accès à l'information sur leurs droits, leurs demarches à effectuer au niveau handicap
                        <li>Sensibiliser la population locale et les enfants au handicap, à la tolérance et àa l'acceptation de la différence
                    </ul>
                </div>
            </div>
            </div>            
            <div class="col-md-3 edt-bg-rose border rounded">
            <div class="card my-2" style="max-width: 30rem;">
                <div class="card-header text-center text-secondary bg-info-subtle fs-3">FINANCEMENT</div>
                <div class="card-body bg-success-subtle">
                    <p class="card-text text-center text-align-center text-secondary fs-6">
                        Exemples de différents projets financés:</p>
                    <ul>
                        <li>Musique
                        <li>Equitherapie
                        <li>Ludotheque
                        <li>Piscine
                        <li>Croisière
                        <li>Animation Noël
                        <li>Plongée
                        <li>Ateliers cuisine
                        <li>Théâtre, Cinema, Cirque
                        <li>Classe découverte
                        <li>Activités sportives et culturelles
                        <li>Sortie diverses
                        <li>Achats jouets, matériel pédagogique
                        <li>Séjours
                    </ul>
                    <p class="card-text text-center text-align-center text-secondary fs-6">
                        En investissement:</p>
                    <ul>
                        <li>Jardin des Sens
                        <li>Tourniquet pour enfants valides et non valides
                        <li>Joëlette
                </div>
            </div>
            </div>            
            <div class="col-md-3 edt-bg-green border rounded">
                <div class="card bg-white border" style="margin-top: 15px; margin-bottom: 15px;">
                    <img src="{{ server_base }}/images/handifference/Handi_2024.jpg" class="card-img-top" >
                    <div class="card-body">
                    </div>            
                </div>            
            </div>            
       </div>