<div class='row'>
    <div class="col-md-4"></div>
    <div class='col-md-4 align-self-center text-center'>
                    <img class='img-fluid' src="{{ server_base }}/images/background/AG.png">
    </div>
    <div class="col-md-4"></div>
</div>
