<p class="card-text fs-6">Le 2 juin 2024 aura lieu à TRESTEL notre fête familiale Handifférence. 
Nous organisons une course solidarité avec les enfants des écoles et du Centre de Rééducation 
et de Réadaptation de Trestel.</p>
<p class='card-text fs-6 text-danger text-center'>OBJECTIFS DE LA COURSE SOLIDARITE</p>
<ul>
<li>Apprendre aux enfants à courir ensemble sans vouloir arriver le premier.</li>
<li>S’entraider en accompagnant ceux qui ont plus de difficultés à courir, à s’orienter, à se 
concentrer ou à maîtriser leur rythme, être attentif à l'autre</li>
<li>Accompagner les enfants qui se trouvent dans les joëlettes.</li>
</ul>
<p class='card-text fs-6 text-danger text-center'>PUBLIC CONCERNE</p>
<p class='card-text fs-6'>Enfants de l'âge de l'école primaire : 6 - 12 ans. L'âge n'est qu'une réféfence. 
Si certains se sentent capables de faire la grande course, même petits, 
pas de problème. Si d'autres grands ne veulent faire que la course 1, c'est bon aussi.
Il y aura trois courses
<ul>
<li>1 km pour les petits où pour ceux qui n'ont pas envie de trop courir (1 tour de plage)</li>
<li>2 kms (1 tour de plage et des bâtiments de Trestel)</li>
<li>4 kms (2 tours de plage et 2 tours des bâtiments de Trestel)</li>
</ul>

<p class='card-text fs-6 text-danger text-center'>HEURE DE DEPART : 11 h </p>
<p class='card-text fs-6 text-danger text-center'>INSCRIPTION SUR PLACE</p>
<p class='card-text fs-6'>Vous pouvez également vous inscrire sur place le 2 juin 
à partir de 10 H et jusqu'à 10 H45, mais pour notre organisation il serait mieux 
d'inscrire votre enfant auparavant.