<nav class="navbar navbar-expand-lg" style="background-color: MidnightBlue;">
  <div class="container-fluid justify-content-start">
        <div class="dropdown">
                      <button class="btn " data-bs-toggle="dropdown" type="button">
                        <img class="rounded-circle" src="{{ server_base }}/images/icon/squared-menu-96.png">
                    </button>
                    <ul class="dropdown-menu p-2 dropdown-menu-end sm-lego-dropdown" >
                        {% include ( "navbar_dropdown_item.html.twig" ) with {'item': 'Home', 'subdir' : ''} %}
                    </ul>
        </div>

                    <button 
                        class="navbar-toggler" 
                        type="button" 
                        data-bs-toggle="collapse" 
                        data-bs-target="#navbarSupportedContent" 
                        aria-controls="navbarSupportedContent" 
                        aria-expanded="false" 
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fs-6" data-bs-toggle="dropdown" href='{{ path('assembly_homepage') }}'
               role="button" aria-expanded="false">Assemblée générale 2024</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item fs-6 text-red d-flex gap-2 align-items-center" href='{{ path('assembly_homepage') }}/AG'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filetype-ppt" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM1.6 11.85H0v3.999h.791v-1.342h.803q.43 0 .732-.173.305-.175.463-.474a1.4 1.4 0 0 0 .161-.677q0-.375-.158-.677a1.2 1.2 0 0 0-.46-.477q-.3-.18-.732-.179m.545 1.333a.8.8 0 0 1-.085.38.57.57 0 0 1-.238.241.8.8 0 0 1-.375.082H.788V12.48h.66q.327 0 .512.181.185.183.185.522m2.817-1.333h-1.6v3.999h.791v-1.342h.803q.43 0 .732-.173.305-.175.463-.474.162-.302.161-.677 0-.375-.158-.677a1.2 1.2 0 0 0-.46-.477q-.3-.18-.732-.179m.545 1.333a.8.8 0 0 1-.085.38.57.57 0 0 1-.238.241.8.8 0 0 1-.375.082H4.15V12.48h.66q.327 0 .512.181.185.183.185.522m2.767-.67v3.336H7.48v-3.337H6.346v-.662h3.065v.662z"/>
                    </svg>
                    AG</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item fs-6 text-red d-flex gap-2 align-items-center" href='{{ path('assembly_homepage') }}/PHOTO'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filetype-ppt" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM1.6 11.85H0v3.999h.791v-1.342h.803q.43 0 .732-.173.305-.175.463-.474a1.4 1.4 0 0 0 .161-.677q0-.375-.158-.677a1.2 1.2 0 0 0-.46-.477q-.3-.18-.732-.179m.545 1.333a.8.8 0 0 1-.085.38.57.57 0 0 1-.238.241.8.8 0 0 1-.375.082H.788V12.48h.66q.327 0 .512.181.185.183.185.522m2.817-1.333h-1.6v3.999h.791v-1.342h.803q.43 0 .732-.173.305-.175.463-.474.162-.302.161-.677 0-.375-.158-.677a1.2 1.2 0 0 0-.46-.477q-.3-.18-.732-.179m.545 1.333a.8.8 0 0 1-.085.38.57.57 0 0 1-.238.241.8.8 0 0 1-.375.082H4.15V12.48h.66q.327 0 .512.181.185.183.185.522m2.767-.67v3.336H7.48v-3.337H6.346v-.662h3.065v.662z"/>
                    </svg>
                    PHOTOS</a>
                </li>
      </ul>
      {# <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> #}
    </div>
  </div>
</nav>{#         {% include ( "navbar_brand_item.html.twig" ) with { 'item': 'assembly',
                                                        'item_path' : path('assembly_homepage'),
                                                        'item_id' : 'sm-lego-navbar-link',
                                                        'item_title' : 'AG' } %}

{% include ( "navbar_brand_item.html.twig" ) with { 'item': 'edit-row-144',
                                                        'item_path' : '#',
                                                        'item_id' : 'sm-lego-navbar-link-edit-img',
                                                        'item_title' : 'EDIT' } %}

    {% include ( "navbar_brand_item.html.twig" ) with { 'item': 'delete-row-144',
                                                        'item_path' : '#',
                                                        'item_id' : 'sm-lego-navbar-link-delete-img',
                                                        'item_title' : 'DELETE' } %}
 #}

  </div>
</nav>