

<div class="d-flex flex-wrap justify-content-evenly bg-body-secondary">
    <div class='row justify-content-between m-0' 
        style='height: 1rem;'>
    </div>        
    <div class="row justify-content-evenly">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card m-2">
                <div class="card-header text-center text-danger bg-success-subtle fs-3">LE MARCHE
                    DE NOËL DE TRELEVERN QUI AURA LIEU LES 23 ET 24 NOVEMBRE S’AGRANDIT:
                    50 EXPOSANTS SERONT PRÉSENTS POUR VOUS MONTRER TOUT LEUR TALENT
                </div>
                <div class="card-body bg-danger-subtle">
                    <p class="card-text text-center text-align-center text-success fs-6">
                        Quinze jours après l’ouverture des inscriptions du Marché de Noël, 
                        (début septembre) celui-ci affichait déjà complet avec en plus un début 
                        de liste d’attente.

                        C’est pourquoi, après réflexion et conseil, nous avons décidé d’ouvrir en 
                        supplément la salle des associations de Trélévern pour accueillir plus 
                        d’ exposants et répondre à leur demande. Nous remercions la Municipalité 
                        qui a tout de suite donner son accord. Le Marché de Noël est aujourd’hui 
                        complet.
                        Nous accueillerons donc cette année pendant deux jours 50 exposants avec 
                        des créations aussi belles que variées. Nous avons  fait le choix de 
                        prendre un tiers de nouveaux exposants pour avoir des créations nouvelles 
                        et différentes afin de réjouir le public.
                        Bien sûr notre vin chaud et nos Bredele viendront réchauffer les corps 
                        et les cœurs dans une ambiance conviviale et festive, empreinte d’un 
                        avant-goût des fêtes de Noël.
                        Nous vous attendons tous avec impatience les 23 et 24 novembre, à la salle 
                        polyvalente et à la salle des associations (juste en face) de Trélévern.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class='row justify-content-between m-0' 
        style='height: 1rem;'>
    </div>        
</div>




