
<div class="container-fluid justify-content-between">
  <nav class="navbar navbar-expand-xl" >
    {% include ( "navbar_brand.html.twig" ) %}
    <button 
        class="navbar-toggler edt-navbar-toggler text-info" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse border border-3 border-white border-solid" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
        
            <a class="nav-link dropdown-toggle " 
              data-bs-toggle="dropdown" 
              href=''
              role="button" 
              aria-expanded="false">{{ year }}
            </a>
          {% include ( "ul_year_dropdown.twig" ) %}
          </li>

      {# {% if year == '2024' %}
        {% include ( "li_chart.html.twig" ) with { 'year' : year } %}
      {% endif %} #}
      {% include ( "li_table.html.twig" ) with { 'year' : year, 'filter' : 'DASH' }  %}
      {% include ( "li_dashboard.html.twig" ) with { 'year' : year, 'filter' : 'DASH' }  %}
      {% include ( "li_caisse.html.twig" ) with { 'year' : year, 'filter' : 'DASH' }  %}
      {% include ( "li_banque.html.twig" ) %}
    </ul>

		{% include ( "user_navbar.html.twig" ) %}

{#       <div class='export btn-group'>
        <button class="btn btn-secondary dropdown-toggle" aria-label="Export data" data-bs-toggle="dropdown" type="button" title="Export data" aria-expanded="true">
          <i class="bi bi-download"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-end" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 40px);" data-popper-placement="bottom-end">
          <a class="dropdown-item " href="#" data-type="json">JSON</a>
          <a class="dropdown-item " href="#" data-type="xml">XML</a>
          <a class="dropdown-item " href="#" data-type="csv">CSV</a>
          <a class="dropdown-item " href="#" data-type="txt">TXT</a>
          <a class="dropdown-item " href="#" data-type="sql">SQL</a>
          <a class="dropdown-item " href="#" data-type="excel">MS-Excel</a>
          <a class="dropdown-item " href="#" data-type="pdf">PDF</a>
        </div>
        </div>
 #}
        {# <button onclick="exportSectionToPDFPaysage();">PDF</button> #}
        {# <button onclick="exportToExcel_2();">EXCEL</button> #}
{# <script>
document.addEventListener("DOMContentLoaded", function () {
    const button = document.createElement("button");
    button.textContent = "Exporter en PDF";
    button.onclick = exportTableToPDF;
    document.body.appendChild(button);
});
</script> #}
  </div>
  </nav>
</div>
