<div class="container-fluid justify-content-between">
  <nav class="navbar navbar-expand-lg" >
    {% include ( "navbar_brand.html.twig" ) %}
      <div class="container-fluid">
            <p class="text-dark edt-asso-titre">{{ navbar_title }} {{ year }}</p>
      </div>
{#       <div class='export btn-group'>
        <button class="btn btn-secondary dropdown-toggle" aria-label="Export data" data-bs-toggle="dropdown" type="button" title="Export data" aria-expanded="true">
          <i class="bi bi-download"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-end" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 40px);" data-popper-placement="bottom-end">
          <a class="dropdown-item " href="#" data-type="json">JSON</a>
          <a class="dropdown-item " href="#" data-type="xml">XML</a>
          <a class="dropdown-item " href="#" data-type="csv">CSV</a>
          <a class="dropdown-item " href="#" data-type="txt">TXT</a>
          <a class="dropdown-item " href="#" data-type="sql">SQL</a>
          <a class="dropdown-item " href="#" data-type="excel">MS-Excel</a>
          <a class="dropdown-item " href="#" data-type="pdf">PDF</a>
        </div>
        </div>
 #}
        {# <button onclick="generatePDF_2();">PDF</button> #}
        {# <button onclick="exportToExcel_2();">EXCEL</button> #}

  </nav>
</div>
