@use '_colors';
@use '_fonts';
// @import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap';


$edt-num-font: fonts.$edt-roboto-font;

$edt-body-bg-color: White;

$edt-body-color: var(--bs-info);
$edt-body-font: fonts.$edt-montserrat-font;

$edt-header-bg-color: White;
$edt-header-color: var(--bs-info);

$sm-navbar-color: var(--bs-warning);

$sm-burgericon-color: var(--sm-iceblue-color);

$sm-breadcrumb-color: var(--bs-info);

$sm-dataTables-length-color: colors.$sm-red-color;


* {
    margin: 0;
    padding: 0;
    outline: none;
}

html,
body {
    width: 100%;
}

html {
    line-height: normal;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

body {
    overscroll-behavior-x: none;
    overflow: scroll;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    font-family: $edt-body-font;
    color: $edt-body-color;
    background-color: $edt-body-bg-color;
}

// ////////////
// NEWS
// ////////////

.edt-body-news-content {
    background: rgb(222,128,62);
    background: radial-gradient(circle, rgba(222,128,62,1) 0%, rgba(224,97,127,1) 100%); 
}

// ////////////
// HEADER
// ////////////

.edt-header-container {
    color: $edt-header-color;
    background-color: $edt-header-bg_color;
}

// ////////////
// NAVBAR
// ////////////

.edt-navbar-brand-logo {
    max-width: 100%;
    height: 6rem;
} 
.edt-navbar-toggler {
    --bs-navbar-toggler-icon-bg: var(--edt-toggler-icon);
}
.navbar
{
    font-size: x-large;
}

.edt-navbar-container
{
    // background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    background: var(--bs-success-bg-subtle);
}
.edt-user-navbar-container
{
    background: #fbfcdb;
}
.nav-item:hover
{
    background-color: var(--bs-success-bg-subtle);
}
.nav-link {
    color: var(--bs-success);
    font-size: 1rem;
}
.nav-link:hover
{
    color: var(--bs-success);
}
.nav-link:visited
{
    color: var(--bs-success);
}

.edt-dropdown:hover .edt-dropdown-menu {
    display: block;
 }
// ////////////
// CARD
// ////////////


.edt-card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.edt-card-table {
    margin-bottom: 0px;
}

.edt-card .edt-card-table {
    padding: 15px 30px;
}

.edt-card .table-success {
    background: linear-gradient(60deg, #66bb6a, #388e3c);
}

.edt-card .table-info {
    background: linear-gradient(60deg, #26c6da, #0097a7);
}

.edt-card .table-primary {
    background: linear-gradient(60deg, #ab47bc, #7b1fa2);
}

.edt-card .table-warning {
    background: linear-gradient(60deg, #ffa726, #f57c00);
}

.edt-card .table-danger {
    background: linear-gradient(60deg, #ef5350, #d32f2f);
}

.edt-card .table-rose {
    background: linear-gradient(60deg, #FF99AC, #FF6A88);
}

.edt-card .table-test {
    background: linear-gradient(60deg, #48c6ef 0%, #6f86d6 100%);
}
.edt-card .table-test_2 {
    background: linear-gradient(60deg, #93F9B9, #1D976C);
}


.edt-card .card-image .card-caption {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #fff;
    font-size: 1.3em;
    text-shadow: 0 2px 5px rgba(33, 33, 33, 0.5);
}

.edt-card [class*="table-"] {
    color: #FFFFFF;
    border-radius: 6px;
}

.edt-card [class*="table-"] .card-caption a,
.edt-card [class*="table-"] .card-caption,
.edt-card [class*="table-"] .icon i {
    color: #FFFFFF;
}

.edt-card .category-social .fa {
    position: relative;
    margin-top: -4px;
    top: 2px;
    margin-right: 5px;
}

.edt-card-table .smaller {
    font-size: smaller;
}
// ////////////
// COMPTE DROPDOWN
// ////////////
 
 .edt-compte-dropdown:hover .edt-compte-dropdown-menu{
    display: block;
 }

 .edt-compte-dropdown-menu > li:hover > .edt-2023-compte-dropdown-menu {
    display: block;
    left: 100%;
    top: 0%
 }


 .edt-compte-dropdown-menu > li:hover > .edt-2024-compte-dropdown-menu {
    display: block;
    left: 100%;
    top: 29%
 }

 .edt-compte-dropdown-menu > li:hover > .edt-2025-compte-dropdown-menu {
    display: block;
    left: 100%;
    top: 60%
 }
// ////////////
// ASSO DROPDOWN
// ////////////
 
 .edt-asso-dropdown:hover .edt-asso-dropdown-menu{
    display: block;
 }

 .edt-asso-dropdown-menu > li:hover > .edt-2024-asso-dropdown-menu {
    display: block;
    left: 100%;
    top: 50%
 }

// ////////////
// FINANCE DROPDOWN
// ////////////
 
.edt-finance-dropdown:hover .edt-finance-dropdown-menu{
    display: block;
 }

 .edt-finance-dropdown-menu > li:hover > .edt-2024-finance-dropdown-menu {
    display: block;
    left: 100%;
    top: 0%
 }

 .edt-finance-dropdown-menu > li:hover > .edt-2025-finance-dropdown-menu {
    display: block;
    left: 100%;
    top: 50%
 }

// ////////////
// PROJECTS DROPDOWN
// ////////////
 
.edt-projects-dropdown:hover .edt-projects-dropdown-menu{
    display: block;
 }

 .edt-projects-dropdown-menu > li:hover > .edt-2024-projects-dropdown-menu {
    display: block;
    left: 100%;
    top: 0%
 }


 .edt-projects-dropdown-menu > li:hover > .edt-2025-projects-dropdown-menu {
    display: block;
    left: 100%;
    top: 50%
 }



 .edt-dropdown-item {
    font-size: 1rem;
    gap: .5rem;
    align-items: center;
    display: flex;
    color: var(--bs-danger);
}

.edt-dropdown-item:hover {
    color: var(--bs-danger);
}
 


// .compte-dropdown-menu  .compte-dropdown-submenu {
//     display: none;
//     position: absolute;
//     left: 100%;
//     top: -7px;
//     }
//     .compte-dropdown-menu .compte-dropdown-submenu-left {
//     right: 100%;
//     left: auto;
//     }
//     .compte-dropdown-menu > li:hover > .compte-dropdown-submenu {
//     display: block;
//     }
// ////////////
// LARGE SCREEN
// ////////////
@media screen and (min-width: 1024px) {
    .navbar-nav, ul {
        align-items: center;
    }

    .nav-item {
        // px-1 mb-1 me-2 shadow-sm rounded
        padding-left: .25rem;
        padding-right: .25rem;
        margin-bottom: .25rem;
        margin-right: .5rem;
        box-shadow: var(--bs-box-shadow);
        border-radius: 1rem;
        background-color:snow ;
     }
    

    .edt-nav-item-fb {
        display: none;
    }
    .edt-nav-item-mail {
        display: none;
    }
    .edt-contact-table-xs {
        display: none;
    }
    .edt-admin-btn {
        display: none
    }
    .edt-donateurs-titre, .edt-contact-titre, .edt-asso-titre, .edt-especes-titre {
        left: 50%;
        transform: translate(-50%);
        position: absolute;
    }
}
// ////////////
// SMALL SCREEN
// ////////////

@media screen and (max-width: 1024px) {
    .edt-body-news-content {
        font-size: 0.5rem;
    }
    
    .nav-item {
        // px-1 mb-1 me-2 shadow-sm rounded
        padding-left: .25rem;
        padding-right: .25rem;
        margin-bottom: .25rem;
        margin-right: .5rem;
        border-bottom: var(--bs-primary-bg-subtle);
        border-bottom-style: groove;
     }
     .edt-dropdown-menu {
        border: none;
     }     
     
    .edt-nav-item-fb {
        display: flex;
    }
    .edt-nav-item-mail {
        display: flex;
    }
    .edt-contact-table-sm {
        display: none;
    }
    .edt-admin-btn {
        display: none
    }
    .edt-btn-login-logo {
        padding-left: 0px;
    }
    .edt-donateurs-titre, .edt-contact-titre, .edt-asso-titre, .edt-especes-titre {
        transform: translate(20%);
        position: relative;
    }
}


// ////////////
// BREADCRUMB
// ////////////
.breadcrumb-item > a {
    color: var(--bs-primary);
    text-decoration: none;
}
.breadcrumb-item + .breadcrumb-item:before {
    color: var(--bs-primary);
    // padding-top: 18px;
}

.breadcrumb-item:hover {
    color: var(--bs-primary);
}

.breadcrumb-item.active {
    color: var(--bs-primary);
}

.sm-lego-brand {
    width: 96px;
    height: 96px;    
}

// //////////////////////
// GALLERY DATABASE
// //////////////////////

.sm-card-database-img {
    width: 100%;
    height: 8vw;    
}

.sm-card-subdomain-img {
    width: 70%;
    height: 8vw;
}

/* @media screen and (max-width: 1024px) {
    .sm-card-database-img  {
        width: 80%;
        height: 10vw;
    }
    .sm-card-subdomain-img  {
        width: 50%;
        height: 15vw;
    }
} 
   

@media screen and (max-width: 780px) {
        .sm-card-database-img  {
            width: 60%;
            height: 10vw;
        }
        .sm-card-subdomain-img  {
            width: 50%;
            height: 20vw;
        }
    }    

@media screen and (max-width: 576px) {
        .sm-card-database-img  {
            width: 60%;
            height: 10vw;
        }
        .sm-card-subdomain-img  {
            width: 50%;
            height: 20vw;
        }
    }    
 */
// //////////////////////
// LEGO TABLE
// //////////////////////

.sm-lego-table > tbody {
    font-family: $edt-num-font;
    font-variant-numeric: tabular-nums;
}
.edt-euros-font {
    font-family: $edt-num-font;
    font-variant-numeric: tabular-nums;
}

.sm-lego-table thead {
    font-size: larger;

    --bs-table-color: var(--sm-white-color);
    --bs-table-bg: var(--sm-iceblue-color);
}

.sm-lego-table > tbody tr:nth-child(even) {
    font-size: smaller;
    --bs-table-bg: var(--edt-pastel-blue-color);
}
.sm-lego-table > tbody tr:nth-child(odd) {
    font-size: smaller;
}
.sm-lego-table > tbody tr:hover {
    --bs-table-bg: var(--sm-iceblue-color);

}
.sm-lego-table > tbody tr.selected {
    --bs-table-bg: var(--bs-warning);
    --bs-table-hover-bg: var(--bs-warning);
}

td .hover_img { position:relative; }
td .hover_img span { position:absolute; display:none; z-index:99; }
td:hover .hover_img  span { display:block; }

// //////////////////////
// LEGO GALLERY
// //////////////////////

.sm-gallery-card {
    background-color: white;
}

// //////////////////////
// LEGO SEARCH
// //////////////////////

.sm-lego-table-search-form {
  display: flex;
  padding: 0;
  border: none;
  border-radius: 5px;
  margin: 0 0 20px;
}

input[type="search"] {
  border: none;
  background: white;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}

input[type="search"]::placeholder {
    color: #bbb;
  }

input.nosubmit {
    width: 260px;
    border: 1px solid #555;
    display: block;
    padding: 9px 4px 9px 40px;
    background: white 
    var(--edt-search-icon) no-repeat 8px center;
    background-size: 24px
}

// //////////////////////
// LEGO LIST OR GALLERY
// //////////////////////

#sm-list-menu, #sm-gallery-menu  {
    text-decoration: none;
}

.sm-table-dropdown, .sm-gallery-dropdown {
    text-align: end;
}
.sm-table-dropdown-ul, .sm-gallery-dropdown-ul {
    background-color: midnightblue;
}
.sm-table-dropdown-ul li a, .sm-gallery-dropdown-ul li a {
    color: var(--bs-info);
}

// //////////////////////
// LEGO NUMBER OF ROWS
// //////////////////////

.sm-lego-table-dropdown-menu.show {
    --bs-dropdown-border-color: var(--sm-iceblue-color);
    --bs-dropdown-border-width: 2px;
}

.sm-lego-table-dropdown-item:hover {
    background-color: var(--sm-lightblue-color);
}
.sm-lego-table-dropdown-item {
    --bs-dropdown-link-active-bg: var(--sm-iceblue-color);
    --bs-dropdown-link-active-color: white;
}

.sm-table-dropdown, .sm-gallery-dropdown {
    text-align: end;
}
.sm-table-dropdown-ul, .sm-gallery-dropdown-ul {
    background-color: midnightblue;
}
.sm-table-dropdown-ul li a, .sm-gallery-dropdown-ul li a {
    color: var(--bs-info);
}

.required::after {
    content: ' *';
    color: orange;
}

.invalid-feedback {
    background-color: pink;
}

// #sm-body-lego-card-img {
//     width:auto;
//     height:auto;
// }


// ////////////
// LOGIN
// ////////////
.edt-login-form i {
    display: flex;
    cursor: pointer;
}

.edt-login-user, .edt-login-lock, .edt-login-eye {
    background-color: var(--bs-success-bg-subtle);
    border: 0;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

.edt-login-user, .edt-login-lock {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.edt-login-eye {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.facture-tooltip {
    --bs-tooltip-bg: var(--bs-secondary);
    --bs-tooltip-color: white;
}
.credit-tooltip {
    --bs-tooltip-bg: var(--bs-success);
    --bs-tooltip-color: var(--bs-success-bg-subtle);
}
.dispo-tooltip {
    --bs-tooltip-bg: var(--bs-info);
    --bs-tooltip-color: var(--bs-info-bg-subtle);
}

.edt-back-to-top{
    position: fixed;
    display: none;
    text-align: center;
    line-height: 1;
    right: 15px;
    bottom: 25%;
    transition: background 0.5s;
    z-index: 11;
}


