    <div class="row bg-body-secondary m-2">

        <div class="col" >
            <div style="padding:56.25% 0 0 0; position:relative;flex:1;">
                <iframe width="100%" height="100%" 
                    src="https://app.videas.fr/embed/media/ac76bcdd-ad9b-4de2-b896-b2a87b7f32d4/" 
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen="true" style="position: absolute; top: 0; left: 0" 
                    referrerpolicy="unsafe-url">
                </iframe>
            </div>
        </div>
        <div class="col" >
            <div style="padding:56.25% 0 0 0; position:relative;flex:1;">
                <iframe width="100%" height="100%"
                    src="https://app.videas.fr/embed/media/a8a2c357-f5f5-498c-9001-49409aefc399/?title=false" 
                     frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen="true" style="position: absolute; top: 0; left: 0;" 
                    referrerpolicy="unsafe-url">
                </iframe>
            </div>
        </div>
        <div class="col" >
            <div style="padding:56.25% 0 0 0; position:relative;flex:1;">
                <iframe width="100%" height="100%" 
                    src="https://app.videas.fr/embed/media/ba793e78-b363-4a74-9535-d916791675ae/" 
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen="true" style="position: absolute; top: 0; left: 0" 
                    referrerpolicy="unsafe-url">
                </iframe>
            </div>
        </div>
    </div>
