<div class="container-fluid bg-body-secondary">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-4 mt-2 justify-content-center">

        <div class="col" >
            <div style="padding:56.25% 0 0 0; position:relative;flex:1;">
                <iframe width="100%" height="100%" 
                    src="https://app.videas.fr/embed/media/6661534d-c21b-4e79-aa2f-329f5fa3035d/" 
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="true" style="position: absolute; top: 0; left: 0" 
                    referrerpolicy="unsafe-url">
                </iframe>
            </div>
        </div>        <div class="col" >
            <div style="padding:56.25% 0 0 0; position:relative;flex:1;">
                <iframe width="100%" height="100%" 
                    src="https://app.videas.fr/embed/media/ac76bcdd-ad9b-4de2-b896-b2a87b7f32d4/" 
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen="true" style="position: absolute; top: 0; left: 0" 
                    referrerpolicy="unsafe-url">
                </iframe>
            </div>
        </div>
        <div class="col" >
            <div style="padding:56.25% 0 0 0; position:relative;flex:1;">
                <iframe width="100%" height="100%"
                    src="https://app.videas.fr/embed/media/a97c661f-5636-4329-a406-48c26054c714/" 
                     frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen="true" style="position: absolute; top: 0; left: 0;" 
                    referrerpolicy="unsafe-url">
                </iframe>
            </div>
        </div>
        <div class="col" >
            <div style="padding:56.25% 0 0 0; position:relative;flex:1;">
                <iframe width="100%" height="100%" 
                    src="https://app.videas.fr/embed/media/ba793e78-b363-4a74-9535-d916791675ae/" 
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen="true" style="position: absolute; top: 0; left: 0" 
                    referrerpolicy="unsafe-url">
                </iframe>
            </div>
        </div>
        <div class="col" >
            <div style="padding:56.25% 0 0 0; position:relative;flex:1;">
{#                 <div class="edt-card flex-fill" >
                    <div class="edt-card-table">#}
                        <iframe width="100%" height="100%" 
                            src="https://www.youtube.com/embed/MOwvsjdzBdA" 
                                title="Présentation de la Maison de L’Estran - Centre de rééducation de Trestel" 
                                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                                allowfullscreen="true" style="position: absolute; top: 0; left: 0"
                                referrerpolicy="strict-origin-when-cross-origin">
                        </iframe>
                   {# </div>
                </div> #}
            </div>
        </div>
    
    </div>
    <div class='row justify-content-between m-0' 
        style='height: 1rem;'>
    </div>  
</div>  
