<div class="container-fluid justify-content-between">
  <nav class="navbar navbar-expand-lg" >
    {% include ( "navbar_brand.html.twig" ) %}
      <div class="container-fluid">
            <p class="text-dark edt-donateurs-titre">{{ navbar_title }} {{ year }} - TOTAL {{ dons_total|number_format(2) }} Euros</li>
      </div>
  </nav>
</div>
