homepage:
    path: /
    controller: App\Controller\HomeController::index
    defaults:  
        title: 'HOME'

contact_homepage:
    path: /CONTACT
    controller: App\Controller\Contact\ContactController::index
    defaults:  
        title: 'CONTACT'

update_homepage:
    path: /UPDATE
    controller: App\Controller\Update\UpdateController::index
    defaults:  
        title: 'HOME'

asso_homepage:
    path: /ASSO
    controller: App\Controller\Asso\AssoController::index
    defaults:  
        title: 'ASSO'

handi_homepage:
    path: /HANDI/{year}
    controller: App\Controller\Handi\HandiController::index
    defaults:  
        year: 2024
        title: 'HANDI'
    requirements:
        year: '\d+'

theatre_homepage:
    path: /THEATRE/{year}
    controller: App\Controller\Theatre\TheatreController::index
    defaults:  
        year: 2025
        title: 'THEATRE'
    requirements:
        year: '\d+'

noel_homepage:
    path: /NOEL/{year}
    controller: App\Controller\Noel\NoelController::index
    defaults:  
        year: 2025
        title: 'NOEL'
    requirements:
        year: '\d+'


noel_trestel_homepage:
    path: /NOEL_TRESTEL/{year}
    controller: App\Controller\Noel\NoelController::trestel
    defaults:  
        year: 2025
        title: 'NOEL_TRESTEL'
    requirements:
        year: '\d+'


christmas_homepage:
    path: /CHRISTMAS/{year}
    controller: App\Controller\Christmas\ChristmasController::index
    defaults:  
        year: 2024
        title: 'CHRISTMAS'
    requirements:
        year: '\d+'

donateurs_homepage:
    path: /DONATEURS/{year}
    controller: App\Controller\Donateurs\DonateursController::index
    defaults:  
        year: 2024
        title: 'DONATEURS'
    requirements:
        year: '\d+'

public_projects:
    path: /PUBLIC_PROJECTS/{year}
    controller: App\Controller\PubProject\PubProjectController::index
    defaults:  
        year: 2024
        title: 'PUBLIC_PROJECTS'
    requirements:
        year: '\d+'

project_homepage:
    path: /PROJECT/{year}/{etatFilter}
    controller: App\Controller\Project\ProjectController::index
    defaults:  
        etatFilter: 'ALL' 
        year: 2024
        title: 'PROJECT'
    requirements:
        year: '\d+'

project_affectation:
    path: /PROJECTAFF/{year}/{structureFilter}/{etatFilter}
    controller: App\Controller\Project\ProjectController::affectation
    defaults:  
        year: 2024
        structureFilter: 'ESTRAN' 
        etatFilter: 'ALL' 
        title: 'PROJAFFECTATION'
    requirements:
        year: '\d+'

project_dashboard:
    path: /PROJECTDASH/{year}
    controller: App\Controller\Project\ProjectController::dashboard
    defaults:  
        year: 2024
        title: 'PROJDASHBOARD'
    requirements:
        year: '\d+'

cpt_table_homepage:
    path: /COMPTE/TABLE/{year}/{viewFormat}/{rowNumbers}
    controller: App\Controller\Compte\CompteController::table
    defaults:  
        year: 2024 
        viewFormat: 'table' 
        rowNumbers: 10 
        title: 'TABLE'
    requirements:
        year: '\d+'

cpt_chart_homepage:
    path: /COMPTE/CHART/{year}/{chartFilter}
    controller: App\Controller\Compte\CompteController::chart
    defaults:  
        year: 2024 
        chartFilter: 'ALL' 
        title: 'CHART'
    requirements:
        year: '\d+'

affectation_homepage:
    path: /COMPTE/CHART/AFFECTATION/{year}/{affectationFilter}
    controller: App\Controller\Compte\CompteController::affectation
    defaults:  
        year: 2024 
        affectationFilter: 'EDT' 
        title: 'AFFECTATION'
    requirements:
        year: '\d+'

especes_homepage:
    path: /ESPECES/{year}
    controller: App\Controller\Especes\EspecesController::index
    defaults:  
        year: 2024 
        title: 'ESPECES'
    requirements:
        year: '\d+'


rn_especes_homepage:
    path: /RNESPECES/{year}
    controller: App\Controller\Especes\EspecesController::rn_index
    defaults:  
        year: 2025 
        title: 'ESPECES'
    requirements:
        year: '\d+'


bilan_homepage:
    path: /BILAN/{year}
    controller: App\Controller\Bilan\BilanController::index
    defaults:  
        year: 2024 
        title: 'BILAN'
    requirements:
        year: '\d+'

evolution_homepage:
    path: /EVOLUTION/{year}
    controller: App\Controller\Bilan\BilanController::evolution
    defaults:  
        year: 2024 
        title: 'EVOLUTION'
    requirements:
        year: '\d+'


cpt_table_add:
    path: /COMPTE/COURANT/ADD
    controller: App\Controller\Compte\CompteController::add

cpt_table_edit:
    path: /COMPTE/COURANT/EDIT/{pk_name}/{ref}
    controller: App\Controller\Compte\CompteController::edit

cpt_table_delete:
    path: /COMPTE/COURANT/DELETE/{pk_name}/{ref}
    controller: App\Controller\Compte\CompteController::delete


livret_homepage:
    path: /COMPTE/LIVRET
    controller: App\Controller\Compte\CompteController::livret

assembly_homepage:
    path: /AG/{subject}
    controller: App\Controller\Ag\AgController::index
    defaults:  
        subject: 'AG' 

        
app_register:
    path: /REGISTER
    controller: App\Controller\RegistrationController::register
    defaults:  
        title: 'REGISTER'

app_login:
    path: /LOGIN
    controller: App\Controller\SecurityController::login
    defaults:  
        title: 'SECURITY'

login_check:
    path: /login_check

app_logout:
    path: /logout
    controller: App\Controller\SecurityController::logout


