

<div class="d-flex flex-wrap justify-content-evenly bg-body-secondary">
        <div class='row justify-content-between m-0' 
            style='height: 1rem;'>
        </div>        
        <div class="row justify-content-evenly">
        <div class="col-md-3">
            <div class="card m-2" style="max-width: 30rem;">
                <div class="card-header text-center text-secondary bg-info-subtle fs-3">QUI SOMMES NOUS</div>
                <div class="card-body bg-success-subtle">
                    <p class="card-text text-center text-align-center text-secondary fs-6">
                        Les membres de l'association : </p>
                    <ul>
                        <li>Parents des enfants de Trestel
                        <li>Personnel actif ou retraite du Centre de Rééducation et de Réadaptation Fonctionnelle
                        <li>Tous les adhérents qui souscrivent librement à l'association
                    </ul>
                </div>
            </div>
            <div class="card m-2" style="max-width: 30rem;">
                <div class="card-header text-center text-secondary bg-info-subtle fs-3">CONSEIL D'ADMINISTRATION</div>
                <div class="card-body bg-success-subtle">
                    <p class="card-text text-center text-align-center text-secondary fs-6">
                        </p>
                    <ul>
                        <li>Annie BOURGES (Trésorière adjointe)
                        <li>Dany CABEL (Coprésidente, Secretaire)
                        <li>Suzanne CASSET
                        <li>Bernadette FAGNOT
                        <li>Heike KREMER (Trésorière)
                        <li>Mélanie LE CORRE
                        <li>Jean-Luc NICODEME (Coprésident)
                        <li>Sylvie NICODEME
                        <li>Dominique PICHANCOURT
                        <li>Gwenaelle THOMAS
                        <li>Paola VICECONTI
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card m-2" style="max-width: 30rem;">
                <div class="card-header text-center text-secondary bg-info-subtle fs-3">OBJECTIFS</div>
                <div class="card-body bg-success-subtle">
                    <p class="card-text text-center text-align-center text-secondary fs-6"></p>
                    <ul>
                        <li>Favoriser le lien social, la découverte en milieu extérieur à l'hôpital et l'épanouissement des enfants handicapes tout en leur procurant du plaisir
                        <li>Procurer aux enfants du matériel extra médical
                        <li>Soutenir les familles, notamment en facilitant les échanges et l'accès à l'information sur leurs droits, leurs demarches à effectuer au niveau handicap
                        <li>Sensibiliser la population locale et les enfants au handicap, à la tolérance et àa l'acceptation de la différence
                    </ul>
                </div>
            </div>
            <div class="card m-2" style="max-width: 30rem;">
                <div class="card-header text-center text-secondary bg-info-subtle fs-3">FONCTIONNEMENT</div>
                <div class="card-body bg-success-subtle">
                    <p class="card-text text-center text-align-center text-secondary fs-6">
                        Travail de partenariat et de transversalité avec de nombreuses associations, clubs sportifs, communes</p>
                    <ul>
                        <li>Travail de partenariat avec l'Hôpital de Lannion à travers des outils communs et d'échanges réguliers
                        <li>Analyse	des	projets	présentes par les professionnels des structures pour enfants et contrôle de leur bien fonde selon les critères de l'association et validation
                        <li>Financement en partie ou en totalié des projets présentes
                        <li>>Analyse les besoins des familles et recherche avec elle de solutions
                    </ul>
                    <p>Ces objectifs sont bases sur le lien social, éducatif, pédagogique et surtout ludique</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card m-2" style="max-width: 30rem;">
                <div class="card-header text-center text-secondary bg-info-subtle fs-3">FINANCEMENT</div>
                <div class="card-body bg-success-subtle">
                    <p class="card-text text-center text-align-center text-secondary fs-6"></p>
                    <ul>
                        <li>Grace aux donateurs professionnels et individuels et aux adhérents, l'association récolte des fonds
                        <li>L'association	organise	des	manifestations (marche de Noel, repas, fêtes...)
                        <li>Elle fabrique des objets qu'elle vend sur des stands lors des manifestations
                        <li>Elle participe en tant que bénévoles aux manifestations des donateurs
                        <li>Elle recherche des subventions et /ou sponsors pour financer de gros projets (ex: aire de jeux adapte enfants handicapés et valides)
                    </ul>

                    <p class="card-text text-center text-align-center text-secondary fs-6">
                        Exemples de différents projets financés:</p>
                    <ul>
                        <li>Musique
                        <li>Equitherapie
                        <li>Ludotheque
                        <li>Piscine
                        <li>Croisière
                        <li>Animation Noël
                        <li>Plongée
                        <li>Ateliers cuisine
                        <li>Théâtre, Cinema, Cirque
                        <li>Classe découverte
                        <li>Activités sportives et culturelles
                        <li>Sortie diverses
                        <li>Achats jouets, matériel pédagogique
                        <li>Séjours
                    </ul>
                    <p class="card-text text-center text-align-center text-secondary fs-6">
                        En investissement:</p>
                    <ul>
                        <li>Jardin des Sens
                        <li>Tourniquet pour enfants valides et non valides
                        <li>Joëlette
                        <li>Lève-personne dans le vestiaire PMR du pôle nautique de Trestel (juin 2024)
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card m-2" style="max-width: 30rem;">
                <div class="card-header text-center text-secondary bg-info-subtle fs-3">POUR QUI</div>
                <div class="card-body bg-success-subtle">
                    <p class="card-text text-center text-align-center text-secondary fs-6">
                        L'association au service de 6 structures</p>
                    <ul>
                        <li>Médecine Physique et de Rééducation 1 Pédiatrique (0 à 20 ans) - hospitalisation complète : 10 lits - hospitalisation de jour
                        <li>Jardin d'Enfants (0 à 6 ans) 15 enfants (sont en hospitalisation de jour)
                        <li>Unité d'Enseignement (6 à 11ans) 20 enfants (certains sont en hospitalisation de jour)
                        <li>Maison de l'Estran (2 à 20 ans) 30 enfants: 15 en internat, 15 en semi-internat
                        <li>Centre	d' Action	Medico	Sociale	Precoce (C.A.M.S.P) (0 à 6 ans) 50 enfants suivis régulièrement
                        <li>Service d'Education et de Soins a Domicile (0 à 20 ans) - 30 enfants
                    </ul>
                    <p>Le handicap de ces enfants est d’origine neurologique, affection sévère de l'appareil locomoteur, troubles sévères du langage, 
                        troubles du développement psychomoteur, troubles complexes du développement,troubles cérébraux associes 
                        à des troubles sévères moteurs ou et sensoriels.</p>
                    <p>En fonction du handicap, ces enfants sont accueillis dons l'une ou l'autre structure .</p>
                    <p>A noter que l'une des structures est basée à l'Hôpital de Lannion (C.A.M.S.P.). Toutes les autres sont sur TRESTEL</p>
                </div>
            </div>
        </div>

    </div>
        <div class='row justify-content-between m-0' 
            style='height: 1rem;'>
        </div>        
</div>




