
<div class='row  justify-content-between' style='height: 20px;'></div>"
        <div class='row  justify-content-between'>
            <div class="col-md-1"></div>
            <div class="col-md-10 bg-turquoise border rounded">
                <div class="card mb-3 bg-white border" style="margin-top: 15px; margin-bottom: 15px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                          <img src="{{ server_base }}/images/logo/Enfants_de_trestel.png" style="margin-top: 30px;" class="img-fluid rounded-start" >
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <h3 class="card-title">CONTACT</h3>
                                <table class="table table-responsive-xl" style="font-size: smaller;">
                                    <tr><td></td><td></td><td></td></tr>
                                    
                                    <tr><td><img src="{{ server_base }}/images/icon/president-64.png"></td>
                                        <td>Dany CABEL</td><td>enfantsdetrestel@free.fr</td></tr>
                                    <tr><td>&nbsp;&nbsp;<img src="{{ server_base }}/images/icon/euro-money-40.png"></td>
                                        <td>Heike KREMER<td>tresorerie.enfantsdetrestel@gmail.com</td></tr>
                                </table>

                            </div>            
                        </div>            
                    </div>            
                </div>            
            </div>            
            <div class="col-md-1"></div>
        </div>