
<div class='row  justify-content-between ' style='height: 2rem;'></div>

<div class='row edt-contact-table-sm justify-content-between'>
    <div class="col-sm-3"></div>
    <div class="col-sm-6 edt-bg-green border rounded">
        <div class="card bg-white border">
            <div class="card-body">
                <h3 class="card-title">CONTACT</h3>
                <div class='table-responsive-sm'>
                    <table class="table" style="font-size: smaller;">
                        <tr><td></td><td></td><td></td></tr>
                        <tr><td><img src="{{ server_base }}/images/icon/president-64.png"></td>
                            <td>Dany CABEL<br>Jean-Luc NICODEME</td><td><a href="mailto:enfantsdetrestel@free.com">enfantsdetrestel@free.fr</a></td>
                        </tr>
                        <tr><td>&nbsp;&nbsp;<img src="{{ server_base }}/images/icon/euro-money-40.png"></td>
                            <td>Heike KREMER<td><a href="mailto:tresorerie.enfantsdetrestel@gmail.com">tresorerie.enfantsdetrestel@gmail.com</a></td>
                        </tr>
                    </table>
                </div>            
            </div>            
        </div>            
    </div>            
    <div class="col-sm-3"></div>
</div>

<div class='row m-3 p-3 edt-contact-table-xs'>
    <div class="edt-bg-green border rounded ">
        <div class="card bg-white border">
            <div class="card-body">
                <h3 class="card-title">CONTACT</h3>
                <div class='table-responsive'>
                    <table class="table " style="font-size: smaller;">
                        <tr><td></td><td></td><td></td></tr>
                        <tr><td><img src="{{ server_base }}/images/icon/president-64.png"></td>
                            <td>Dany CABEL</td><td><a href="mailto:enfantsdetrestel@free.com">enfantsdetrestel@free.fr</a></td>
                        </tr>
                        <tr><td>&nbsp;&nbsp;<img src="{{ server_base }}/images/icon/euro-money-40.png"></td>
                            <td>Heike KREMER<td><a href="mailto:tresorerie.enfantsdetrestel@gmail.com">tresorerie.enfantsdetrestel@gmail.com</a></td>
                        </tr>
                    </table>
                </div>            
            </div>            
        </div>            
    </div>            
</div>            
