            <li class="m-2 p-1">
                <a target='_blank' href='{{ path('bilan_homepage', {'year' : year }) }}'>
                    <img class="img-fluid rounded-circle border" src="{{ server_base }}/images/icon/dashboard-48.png" alt='BILAN' title='BILAN'></a>

            </li>