            <li class="m-2 p-1">
                <a target='_blank' href='{{ path('especes_homepage', {'year' : year }) }}'>
                    <img class="img-fluid rounded-circle border" src="{{ server_base }}/images/icon/caisse-48.png" alt='CAISSE' title='CAISSE'></a>

            </li>