            <li class="m-2 p-1">
                <a target='_blank' href='{{ path('cpt_chart_homepage', {'chartFilter' :'ALL', 'year' : year }) }}'>
                    <img class="img-fluid rounded-circle border" src="{{ server_base }}/images/icon/chart-48.png" alt='GRAPHIQUE' title='GRAPHIQUE'></a>
            </li>
