            <li class="m-2 p-1">
                <a target='_blank' href='{{ path('project_dashboard', {'year' : year }) }}'>
                    <img class="img-fluid rounded-circle border" src="{{ server_base }}/images/icon/dashboard-48.png" alt='BUDGET' title='BUDGET'></a>

            </li>
