
 {# 
    {% include ( "navbar_brand.html.twig" ) with { 'item': 'add-row-144',
                                                        'item_path' : path('lego_add'),
                                                        'item_id' : 'sm-lego-navbar-link',
                                                        'item_title' : 'ADD' } %}

 #}
    <a class="navbar-brand" href="{{ server_base }}">
      <img class='img-fluid rounded edt-navbar-brand-logo' 
        src="{{ server_base }}/images/logo/Enfants_de_trestel.png" 
        alt="Accueil"
        title="Accueil">
    </a>
    <span>&nbsp;&nbsp;</span>

