        <ul class="dropdown-menu edt-dropdown-menu">
          <li><a class="dropdown-item edt-dropdown-item" href='{{ path('noel_trestel_homepage') }}/{{ 2024 }}'>{{ 2024 }}</a></li>
          <li><a class="dropdown-item edt-dropdown-item disabled" href='{{ path('noel_trestel_homepage') }}/{{ 2026 }}'>{{ 2026 }}</a></li>
        </ul>
 