{% set credit = 0.00 %}
{% set debit = 0.00 %}

{% for row in courant_table_content %}
	{% set credit = credit + row.credit %}
	{% set debit = debit + row.debit %}
{% endfor %}
{% set credit_cc = credit_debut_annee + credit - debit %}

<div class='container-fluid justify-content-start {{ bg_color }}'>
	<nav class="navbar navbar-expand-lg">
		{% include ( "navbar_brand.html.twig" ) %}

    <div class="collapse navbar-collapse border border-3 border-white border-solid" id="navbarSupportedContent">

        <ul class="navbar-nav">
          <li class="dropdown">
            <a class="nav-link dropdown-toggle " 
              data-bs-toggle="dropdown" 
              href=''
              role="button" 
              aria-expanded="false">{{ year }}
            </a>
          {% include ( "ul_year_dropdown.twig" ) %}

          </li>

                {% include ( "li_dashboard.html.twig" ) with { 'year' : year, 'filter' : 'DASH' }  %}
                {% include ( "li_bilan.html.twig" ) with { 'year' : year }  %}
                {% include ( "li_caisse.html.twig" ) with { 'year' : year }  %}
                {% include ( "li_banque.html.twig" ) %}
{#             {% if year == '2024' %}
                {% include ( "li_chart.html.twig" ) with { 'year' : year } %}
            {% endif %} #}
        </ul>
        <ul class="navbar-nav me-auto">
            <li>
                <div class="text-dark fs-6 edt-euros-font ms-2 p-2">SOLDE {{ year }}:
                    {{ credit_cc|number_format(2) }}
                    €</div>
            </li>
        </ul>

		{% include ( "user_navbar.html.twig" ) %}
		</div>
    </div>


	</nav>
</div>

