{% set credit = 0.00 %}
{% set debit = 0.00 %}

{% for row in courant_table_content %}
	{% set credit = credit + row.credit %}
	{% set debit = debit + row.debit %}
{% endfor %}
{% set credit_cc = credit_debut_annee + credit - debit %}

<div class='container-fluid justify-content-start'>
	<nav class="navbar navbar-expand-lg">
		{% include ( "navbar_brand.html.twig" ) %}

        <ul class="navbar-nav">
                {% include ( "li_chart.html.twig" ) with { 'year' : year } %}
                {% include ( "li_dashboard.html.twig" ) with { 'year' : year, 'filter' : 'DASH' }  %}
                {% include ( "li_banque.html.twig" ) %}

        </ul>
        <ul class="navbar-nav me-auto">
            <li>
                <div class="text-secondary fs-6 edt-euros-font ms-2 p-2">SOLDE {{ year }}:
                    {{ credit_cc|number_format(2) }}
                    €</div>
            </li>
        </ul>

		{% include ( "user_navbar.html.twig" ) %}
		</div>


	</nav>
</div>

